.container-form{
    position: relative;
    transition: .4s;
}

.toogle-btn {
    display: inline-block;
    position: absolute;
   
}

.or{
    display:inline-block;
    margin: 0 50% !important;
    transform: translateX(-50%) !important;
}